html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  height: 100%; 
}


body {
  background-color: #EBE3DD
}

::-webkit-scrollbar-thumb:vertical {
  display: none;
}
html {
  scrollbar-width: none;  scrollbar-color:  transparent;
}
